<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>
                    <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
    <RunConfiguration>
        <TargetPlatform>x64</TargetPlatform>
        <TargetFrameworkVersion>netcoreapp3.1</TargetFrameworkVersion>
    </RunConfiguration>
    <!-- Configurations for SpecFlow+ Runner -->
    <SpecRun>
        <GenerateSpecRunTrait>true</GenerateSpecRunTrait>
        <GenerateFeatureTrait>true</GenerateFeatureTrait>
    </SpecRun>
</RunSettings>